.app {
    padding: 10px;

    .header {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        gap: 10px;
        height: 10vh;

        .quote-wrapper {
            text-align: center;
        }

        .weather {
            text-align: right;
        }
    }

    .main {
        li {
            cursor: pointer;
        }

        .planner-wrapper {
            display: grid;
            grid-template-columns: 3fr 1fr;
            gap: 10px;
            height: 75vh;

            .calendar,
            .select {
                padding: 10px;
            }

            .btn-outline-primary {
                width: 100%;
            }
        }

        .game {
            height: 75vh;
            display: flex;
            justify-content: center;
            align-items: center;
            perspective: 1000px;

            .game-wrapper {
                width: 640px;
                height: 60vh;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(3, 1fr);
                gap: 15px;

                .memory-card {
                    position: relative;
                    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
                    border-radius: 5px;
                    transform-style: preserve-3d;
                    transition: transform .5s;
                    cursor: pointer;
                }

                .memory-card:active {
                    transform: scale(0.97);
                    transition: transform .2s;
                }

                .front-face,
                .back-face {
                    width: 100%;
                    height: 100%;
                    padding: 20px;
                    position: absolute;
                    border-radius: 5px;
                    background: #0d6efd;
                    backface-visibility: hidden;
                }

                .front-face {
                    transform: rotateY(180deg);
                }
            }
        }
    }

    .flip {
        transform: rotateY(180deg);
    }

    @media (max-width: 767px) {
        .header {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            height: 26vh;

            .weather,
            .quote-wrapper,
            .greeting {
                text-align: center;
            }
        }

        .main {
            .planner-wrapper {
                grid-template-columns: 1fr;
                grid-template-rows: 4fr 1fr;
            }

            .game-wrapper {
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(3, 1fr);
                gap: 15px;
            }
        }
    }
}