.app {
    padding: 10px;

    .form-card {
        width: 25vw;

        .userName,
        .userCity {
            margin-bottom: 30px;
        }

        .btn-wrapper {
            margin-top: 45px;
            margin-bottom: 15px;
        }

        .form-btn {
            width: 100%;
        }
    }

    .header {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        gap: 10px;
        height: 10vh;

        .quote-wrapper {
            text-align: center;
        }

        .weather {
            text-align: right;
        }
    }

    .main {
        li {
            cursor: pointer;
        }

        .planner-wrapper {
            display: grid;
            grid-template-columns: 3fr 1fr;
            gap: 10px;
            height: 75vh;

            .calendar,
            .select {
                padding: 10px;
            }

            .btn-outline-primary {
                width: 100%;
            }
        }

        .game {
            height: 75vh;
            display: flex;
            justify-content: center;
            align-items: center;
            perspective: 1000px;

            .game-wrapper {
                position: relative;
                width: 640px;
                height: 60vh;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(3, 1fr);
                gap: 15px;

                .memory-card {
                    position: relative;
                    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
                    border-radius: 5px;
                    transform-style: preserve-3d;
                    transition: transform .5s;
                    cursor: pointer;
                }

                .memory-card:active {
                    transform: scale(0.97);
                    transition: transform .2s;
                }

                .front-face,
                .back-face {
                    width: 100%;
                    height: 100%;
                    padding: 20px;
                    position: absolute;
                    border-radius: 5px;
                    background: #0d6efd;
                    backface-visibility: hidden;
                }

                .front-face {
                    transform: rotateY(180deg);
                }

                .game-modal {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-right: -50%;
                    transform: translate(-50%, -50%);
                    width: 18rem;
                }
            }
        }
    }

    .flip {
        transform: rotateY(180deg);
    }

    @media (max-width: 767px) {

        .form-card {
            width: 100%;

            .userName,
            .userCity {
                margin-bottom: 45px;
            }
        }

        .header {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            height: 26vh;

            .weather,
            .quote-wrapper,
            .greeting {
                text-align: center;
            }
        }

        .main {
            .planner-wrapper {
                grid-template-columns: 1fr;
                grid-template-rows: 4fr 1fr;
            }

            .game {
                padding-top: 10px;

                .game-wrapper {
                    width: 100%;
                    height: 100%;
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    grid-template-rows: repeat(3, 1fr);
                    gap: 15px;

                    .front-face,
                    .back-face {
                        padding: 3px;
                    }
                }
            }
        }
    }
}


.calendar {
    &_head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 2rem;
        font-size: 1.5vw;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1vw;

        &_prev,
        &_next {
            border: none;
            background: transparent;
            border: 0;
            outline: 0;
            cursor: pointer;
            width: 2rem;
            height: 2.2rem;

            &_svg {
                width: 2rem;
                height: 3rem;
            }
        }

        &_prev:hover polyline,
        &_prev:focus polyline {
            stroke-width: 3;
        }

        &_prev:active polyline {
            stroke-width: 6;
            transition: all 100ms ease-in-out;
        }

        &_next:hover polyline,
        &_next:focus polyline {
            stroke-width: 3;
        }

        &_prev:active polyline {
            stroke-width: 6;
            transition: all 100ms ease-in-out;
        }

        polyline {
            transition: all 250ms ease-in-out;
            fill: none;
            stroke: black;
            stroke-width: 1;
            stroke-linecap: round;
            stroke-linejoin: round;
        }

        &_date {
            display: flex;
            font-size: 2vw;

            &_month {
                margin-right: 3vw;
            }
        }
    }

    &_table {
        width: 98%;

        th,
        td {
            width: 12vw;
        }

        th {
            text-align: center;
        }

        &_day {
            &_today {
                box-shadow: 0px 0px 13px 5px rgba(55, 173, 219, 0.212) inset !important;

                &:hover {
                    box-shadow: 0 0 0 1px white, 0 0 5px 5px rgba(55, 173, 219, 0.212) !important;
                }
            }

            &:hover {
                border: 1 solid rgba(0, 0, 0, 0.041);
                box-shadow: 0 0 0 1px white, 0 0 5px 5px rgba(48, 48, 48, 0.185);
            }
        }

        td {
            height: 8vw;
        }

        &_btn {

            &,
            &:focus,
            &:active {
                outline: 0 !important;
            }
        }
    }

    .btn-lg {
        width: 100%;
        height: 100%;
        text-align: start;
        padding-bottom: 5vw;
    }

    @media (max-width: 900px) {
        .calendar {
            &_head {
                &_date {
                    font-size: 2.5vw;
                }
            }
        }
    }

    @media (max-width: 767px) {
        .calendar {
            &_head {
                &_date {
                    font-size: 3.5vw;
                }
            }
        }
    }
}